fieldset#fieldsetAdd {
    border: #1182F2 solid 3px;
    border-bottom: #1182F2 solid 5px;
    border-top: #1182F2 solid 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 15vw;
    min-width: 20em;
    margin: auto;
    }
    fieldset#fieldsetAdd legend {
    color: #1182F2; 
    text-align: center;
    }
    fieldset#fieldsetAdd input[type="submit"] {
    color: #000408; 
    background: #b5bfc2; 
    margin: .25em 0 0 0;
    height: 4em;
    display: block;
    border-radius: 5px;
    margin: auto;
    }
    fieldset#fieldsetDelete {
    border: #800000 solid 3px;
    border-bottom: #800000 solid 5px;
    border-top: #800000 solid 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    border-radius: 3px;
    width: 15vw;
    text-align: center;
    margin: auto;
    min-width: 20em;
    }
    Array, Sessions,  Forms 
    fieldset#fieldsetDelete legend {
    color: #800000;
    }
    fieldset#fieldsetDelete input[type="submit"] {
    color: #800000; 
    background: #ffe0e3; 
    border: #800000 solid 1px;
    height: 4em;
    border-radius: 5px;
    margin: auto;
    }
    table {
    width: 70vw;
    margin: auto;
    border-collapse: collapse;

    }
    table, 
    td {
    border: #1182F2 solid 1px;
    border-bottom: #1182F2 solid 3px;
    border-top: #1182F2 solid 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    padding: .25em;
    }
    th {
    background: #1182F2;
    color: rgb(247, 234, 234);
    border: 2px white solid;
    padding: .5em;
    }
    tr:nth-child(even) {
    background: #a9c0f3; 
    }
    tr:nth-child(odd) {
    background: rgb(156, 165, 185); 
    }
    h1, h2 {
        margin: auto;
        text-align: center;
    }
    img {
        height :20em;
        min-height: 20em;
        margin: auto;
        border: 1px solid white;
        border-radius: 150px;
    }